.item {
  border-bottom: 1px solid #e96316;
  background-color: #c7c4c4;
  border-radius: 20px;
  padding: 4px 10px;
}

.variable {
  font-size: clamp(1rem, 5vw, 1.5rem);
  font-weight: 500;

  & span {
    font-weight: 400;
    color: rgb(43, 43, 43);
  }
}
