.item {
  border-bottom: 1px solid #e96316;
  background-color: #c7c4c4;
  border-radius: 20px;
  padding: 4px 10px;
}

.link {
  font-size: clamp(1rem, 5vw, 1.3rem);
  font-weight: 500;
  color: #1714d4;
  transition: color 300ms ease;

  &:hover {
    color: #110f85;
  }
}
